.lrcp-message {
  background-color: black;
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  position: sticky;
  text-align: center;
  top: 0;
  width: calc(100% - 16px);
  z-index: 9999;
}
